#m-1416a496-696a-4ecc-b16c-727ef78ac6c1 #m-1416a496-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1416a496-696a-4ecc-b16c-727ef78ac6c1.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}