#m-1416a496-696a-4ecc-b16c-727ef78ac6c1 #m-1416a496-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 318px;
  height: 59px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#m-1416a496-696a-4ecc-b16c-727ef78ac6c1 #m-1416a496-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-1416a496-696a-4ecc-b16c-727ef78ac6c1 #m-1416a496-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#m-1416a496-696a-4ecc-b16c-727ef78ac6c1 #m-1416a496-Rectangle_1 span#rtr-m-1416a496-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1416a496-696a-4ecc-b16c-727ef78ac6c1 #m-1416a496-Input_1 {
  position: absolute;
  top: 60px;
  left: 0px;
  padding-left: 5px;
  width: 313px;
  height: 506px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
}
#m-1416a496-696a-4ecc-b16c-727ef78ac6c1 #m-1416a496-Input_1 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#m-1416a496-696a-4ecc-b16c-727ef78ac6c1 #m-1416a496-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#m-1416a496-696a-4ecc-b16c-727ef78ac6c1.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}