#m-1416a496-696a-4ecc-b16c-727ef78ac6c1 #m-1416a496-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#m-1416a496-696a-4ecc-b16c-727ef78ac6c1.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}