#m-1416a496-696a-4ecc-b16c-727ef78ac6c1 #m-1416a496-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 318px;
  height: 59px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#m-1416a496-696a-4ecc-b16c-727ef78ac6c1 #m-1416a496-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-1416a496-696a-4ecc-b16c-727ef78ac6c1 #m-1416a496-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#m-1416a496-696a-4ecc-b16c-727ef78ac6c1 #m-1416a496-Rectangle_1 span#rtr-m-1416a496-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1416a496-696a-4ecc-b16c-727ef78ac6c1 #m-1416a496-Rectangle_36 {
  position: absolute;
  top: 60px;
  left: 0px;
  width: 318px;
  height: 608px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#m-1416a496-696a-4ecc-b16c-727ef78ac6c1 #m-1416a496-Rectangle_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-1416a496-696a-4ecc-b16c-727ef78ac6c1 #m-1416a496-Rectangle_36 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#m-1416a496-696a-4ecc-b16c-727ef78ac6c1 #m-1416a496-Rectangle_36 span#rtr-m-1416a496-Rectangle_36_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1416a496-696a-4ecc-b16c-727ef78ac6c1 #m-1416a496-Image_1 {
  position: absolute;
  top: 11px;
  left: 270px;
  width: 41px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-1416a496-696a-4ecc-b16c-727ef78ac6c1 #m-1416a496-Dynamic_Panel_1 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#m-1416a496-696a-4ecc-b16c-727ef78ac6c1 #m-1416a496-Panel_1 {
  width: 320px;
  height: 670px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-1416a496-696a-4ecc-b16c-727ef78ac6c1 #m-1416a496-Panel_1 .verticalalign {
  vertical-align: top;
}
#m-1416a496-696a-4ecc-b16c-727ef78ac6c1 #m-1416a496-Panel_2 {
  width: 320px;
  height: 670px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-1416a496-696a-4ecc-b16c-727ef78ac6c1 #m-1416a496-Panel_2 .verticalalign {
  vertical-align: top;
}
#m-1416a496-696a-4ecc-b16c-727ef78ac6c1 #m-1416a496-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 670px;
  background-color: #000000;
  background-image: none;
  opacity: 0.5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#m-1416a496-696a-4ecc-b16c-727ef78ac6c1 #m-1416a496-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-1416a496-696a-4ecc-b16c-727ef78ac6c1 #m-1416a496-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#m-1416a496-696a-4ecc-b16c-727ef78ac6c1 #m-1416a496-Rectangle_2 span#rtr-m-1416a496-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1416a496-696a-4ecc-b16c-727ef78ac6c1 #m-1416a496-Image_2 {
  position: absolute;
  top: 185px;
  left: 10px;
  width: 300px;
  height: 300px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-1416a496-696a-4ecc-b16c-727ef78ac6c1 #m-1416a496-Hotspot_1 {
  position: absolute;
  top: 13px;
  left: 273px;
  width: 35px;
  height: 37px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#m-1416a496-696a-4ecc-b16c-727ef78ac6c1.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}