#m-46f1dfa7-73d8-45d1-98d1-98ea34413237 #m-46f1dfa7-Rectangle_109 {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 59px;
  height: 24px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#m-46f1dfa7-73d8-45d1-98d1-98ea34413237 #m-46f1dfa7-Rectangle_109 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-46f1dfa7-73d8-45d1-98d1-98ea34413237 #m-46f1dfa7-Rectangle_109 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#m-46f1dfa7-73d8-45d1-98d1-98ea34413237 #m-46f1dfa7-Rectangle_109 span#rtr-m-46f1dfa7-Rectangle_109_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-46f1dfa7-73d8-45d1-98d1-98ea34413237 #m-46f1dfa7-Rectangle_110 {
  position: absolute;
  top: 2px;
  left: 215px;
  width: 59px;
  height: 24px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#m-46f1dfa7-73d8-45d1-98d1-98ea34413237 #m-46f1dfa7-Rectangle_110 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-46f1dfa7-73d8-45d1-98d1-98ea34413237 #m-46f1dfa7-Rectangle_110 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#m-46f1dfa7-73d8-45d1-98d1-98ea34413237 #m-46f1dfa7-Rectangle_110 span#rtr-m-46f1dfa7-Rectangle_110_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-46f1dfa7-73d8-45d1-98d1-98ea34413237 #m-46f1dfa7-Label_265 {
  position: absolute;
  top: 3px;
  left: 70px;
  width: 139px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 11pt;
}
#m-46f1dfa7-73d8-45d1-98d1-98ea34413237 #m-46f1dfa7-Label_265 .valign {
  vertical-align: middle;
}
#m-46f1dfa7-73d8-45d1-98d1-98ea34413237 #m-46f1dfa7-Input_1 {
  position: absolute;
  top: 3px;
  left: 285px;
  padding-left: 5px;
  width: 43px;
  height: 22px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#m-46f1dfa7-73d8-45d1-98d1-98ea34413237 #m-46f1dfa7-Input_1 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#m-46f1dfa7-73d8-45d1-98d1-98ea34413237 #m-46f1dfa7-Input_1 input {
  color: #D9D9D9;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#m-46f1dfa7-73d8-45d1-98d1-98ea34413237 #m-46f1dfa7-Rectangle_111 {
  position: absolute;
  top: 3px;
  left: 340px;
  width: 29px;
  height: 22px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10pt;
  font-family: Arial,Arial;
}
#m-46f1dfa7-73d8-45d1-98d1-98ea34413237 #m-46f1dfa7-Rectangle_111 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-46f1dfa7-73d8-45d1-98d1-98ea34413237 #m-46f1dfa7-Rectangle_111 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
}
#m-46f1dfa7-73d8-45d1-98d1-98ea34413237 #m-46f1dfa7-Rectangle_111 span#rtr-m-46f1dfa7-Rectangle_111_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-46f1dfa7-73d8-45d1-98d1-98ea34413237.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}